<?xml version="1.0" encoding="UTF-8"?>

<!-- 
  Configure the App
	  1. AUT details
	  2. Browser/Webdriver
	  3. Reporting  
 -->
<Config>
	<ApplicationUnderTest>
		<Name>Dakar 2021</Name>
		<Version>1.0.0</Version>
			<AppParams>
				<Module>Payroll</Module>
				<Company>Mars Incorporated Ltd</Company>
			</AppParams>
	</ApplicationUnderTest>
	
	<WebDriver>Google</WebDriver>
	
	<Reporting>
		<Strategy>Log</Strategy>
		<LogDir>./logs</LogDir>
		<Level>All</Level>
	</Reporting>
</Config>