<?xml version="1.0" encoding="UTF-8"?>

<!-- 
  Configure the App
	  1. AUT details
	  2. Browser/Webdriver
	  3. Reporting  
      4. Sitemapper
 -->
<Config>
	<ApplicationUnderTest>
		<Name>Dakar 2021</Name>
		<Version>1.0.0</Version>
        <URI>http://deploy.dakarhr.com/DakarHR.php</URI>
			<AppParams>
				<Module>Payroll</Module>
				<Company>Mars Incorporated Ltd</Company>
			</AppParams>
	</ApplicationUnderTest>
	
	<WebDriver>Google</WebDriver>
	
	<Reporting>
  <!-- Log -->
		<Strategy>Console</Strategy>
		<LogDir>./logs</LogDir>
		<Level>All</Level>
	</Reporting>
    <SiteMapper>
      <SiteMapXMLLoc>./src/main/resources/site_map/site_map.xml</SiteMapXMLLoc>
    </SiteMapper>
</Config>